{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        <div>
            Sort by: {{ knp_pagination_sortable(pagination, 'Date', 'p.createdAt') }} |
            {{ knp_pagination_sortable(pagination, 'Price', 'p.price') }}
        </div>
        <div>
            Category:
            {% for category in categories %}
                <a href="{{ path('homepage') }}?category={{ category.id }}">{{ category.title }}</a> |
            {% endfor %}
        </div>
    </div>

    <div class="row">
    {% for product in pagination %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="{{ url("product_view", {"product": product.id, "slug": product.slug}) }}">
                        {% if product.pictures[0] is defined %}
                            <img src="/uploads/product/{{ product.pictures[0].getName }}" class="img-responsive" alt="image" />
                        {% endif %}
                        <div class="caption">
                            <p>{{ product.description|slice(0, 50) }}</p>
                        </div>
                    </a>
                </div>
            </div>
    {% endfor %}
    </div>
    <div>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
