{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ product.price|money_format }}</h1>
    <p>
        <button type="button" class="btn btn-primary btn-lg buy-now" data-product-id="{{ product.id }}">Buy now</button>
    </p>
    <p>
        {{ product.description }}
    </p>

    <p>
        Categories: {{ product.categories|join(', ') }}
    </p>

    {% for picture in product.pictures %}
        <img src="/uploads/product/{{ picture.getName }}" class="img-responsive img-thumbnail" alt="image" />
    {% endfor %}
{% endblock body %}