{% extends 'base.html.twig' %}

{% block body %}
    <h1>Order requests</h1>
<ul class="media-list">
    {% for order in orders %}
        <li class="media">
            <div class="pull-left">
                {% if order.product.pictures[0] is defined %}
                    <a href="{{ path("product_view", {"product": order.product.id, "slug": order.product.slug}) }}">
                        <img src="/uploads/product/{{ order.product.pictures[0].getName }}" class="img-responsive cart-image" alt="image" />
                    </a>
                {% endif %}
            </div>
            <div class="media-body">
                <p>Ordered at {{ order.createdAt|date }} by {{ order.orderedBy }}</p>
                <a href="{{ path("product_view", {"product": order.product.id, "slug": order.product.slug}) }}">
                    {{ order.product.description|slice(0, 100) }}
                </a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}