<div class="container">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <span class="glyphicon glyphicon-shopping-cart text-info"></span> Helishop
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('product_add') }}"><span class="glyphicon glyphicon-plus"></span> Add product</a>
                    </li>
                    <li>
                        <a href="{{ path('order_requests') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Order requests</a>
                    </li>
                </ul>
                <p class="navbar-text navbar-right">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    |
                    <a href="{{ path('fos_user_change_password') }}">Change password</a>
                    |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </p>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
</div>