<h2>Cart</h2>
{% if products|length > 0 %}
    <ul class="media-list">
    {% for product in products %}
        <li class="media">
            <div class="pull-left">
                {% if product.pictures[0] is defined %}
                    <a href="{{ path("product_view", {"product": product.id, "slug": product.slug}) }}">
                        <img src="/uploads/product/{{ product.pictures[0].getName }}" class="img-responsive cart-image" alt="image" />
                    </a>
                {% endif %}
            </div>
            <div class="media-body">
                <a href="{{ path("product_view", {"product": product.id, "slug": product.slug}) }}">
                {{ product.description|slice(0, 50) }}
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
    <hr>
    Total: <b>{{ total|money_format }}</b>
    <hr>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a class="btn btn-primary" href="{{ path('order_checkout') }}">Buy</a>
    {% else %}
        <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Buy</a>
    {% endif %}
{% else %}
    <p>Your cart is empty</p>
{% endif %}

